[2020-06-09 23:30] alex-wzm opened #1 "Include a README please"

[2020-06-15 13:27] mkshaw opened #2 "Set clustermeancentered to default as TRUE when there are no L1 variables"
Otherwise, the clustermeancentered variable isn't created when there are no L1 variables, and the wrapper function doesn't work.

[2020-06-15 13:28] mkshaw opened #3 "Make cluster variable readable as text."
Because it can be annoying to re-code clustering variable, when the coding doesn't have any impact on interpreting output and is thus unnecessary (whereas for other L2 variables the coding does matter, so I won't create defaults).

[2020-06-15 13:48] #2 closed

[2020-06-15 15:12] #3 closed

[2020-06-15 15:43] mkshaw opened #4 "Interaction and higher-order terms."
Users currently have to create separate variables for interaction terms (like `data$x1x2 = data$x1 * data$x2`). We want to allow users to use lmer's/nlme's syntax to create such predictors.

[2020-06-15 20:40] mkshaw opened #5 "Replace data with simulated data."
And edit examples to use simulated data. Try running `check_win_devel()` and Travis with new examples, if still don't work then re-encapsulate in `dontrun{}`.

[2020-06-16 14:45] mkshaw opened #6 "Generate error when variables are factors, saying they need to be numeric. Note this restriction in the documentation."

[2020-06-16 15:24] mkshaw opened #7 "Accepting factors as input"
Potentially a 1.0.1 feature.

[2020-06-17 16:03] mkshaw commented on #4
(1) Iterate through the terms in the model with `attr(terms(model), "term.labels")` and a `for` loop.
(2) For each term, run `grepl(":", term, fixed = TRUE)`
(3) If grepl returns true, then that term is an interaction, and you would want to further sort by whether either of the words is in l2_vars. If yes, add the interaction to l2_vars, else add it to l1_vars.

Things to consider downstream: how

[2020-06-17 22:00] mkshaw commented on #4
Also, need to figure out how interaction terms were factored into r2mlm in the first place.

[2020-06-19 21:12] mkshaw commented on #4
Successfully found and sorted interaction terms, but right now adding them to the data frame is giving me some issues. Next up: how to add "extravCWC:texp" as the variable name to the dataframe (because within() later pulls the column number from the data frame by indexing the variable names stored in l1_vars, and "extravCWC:texp" is what's stored in l1_vars.

[2020-06-19 21:14] mkshaw opened #8 "Imports to add to documentation."
- @importFrom stringr str_split_fixed to r2mlm_comp
- @importFrom rlang := to r2mlm_comp
- stringr to DOCUMENT

[2020-06-24 16:32] mkshaw opened #9 "Merge feature-interactions into master if Jason confirms graph."

[2020-06-24 21:58] mkshaw opened #10 "Helper functions to streamline r2mlm_comp, so you don't have to duplicate code with _A and _B."

[2020-06-28 13:39] #4 closed

[2020-06-28 13:39] #6 closed

[2020-06-28 13:39] #8 closed

[2020-06-28 13:39] #9 closed

[2020-07-08 21:01] mkshaw opened #13 "Higher-order terms via model syntax."
e.g., "X+I(X^2)"

[2020-07-08 21:04] mkshaw opened #14 "Models treated like variables are not L1 centered, even though they are."

[2020-07-08 21:18] #14 closed

[2020-07-20 16:02] #5 closed

[2020-07-22 21:03] mkshaw opened #16 "Parse level 1 and level 2 using all groups, not just largest group."
Because the largest group could, by happenstance, *seem* like a level 2 variable when it's really level 1, for example if you had a class of all one gender of student.

[2020-07-22 21:10] #16 closed

[2020-08-19 16:04] mkshaw commented on #1
Done!

[2020-08-19 16:04] #1 closed

[2020-09-06 14:26] mkshaw opened #19 "README graph margins cut off the legend."

[2020-09-06 14:26] mkshaw opened #20 "R CMD Check unable to verify current time. Add note to cran-comments.md if this issue persists."

[2020-09-06 14:28] mkshaw opened #21 "Travis examples not running properly. See comment for error message."
In r2mlm_comp.

Error in lme.formula(satisfaction ~ 1 + control_c + control_m + s_t_ratio,  :
  nlminb problem, convergence error code = 1
  message = false convergence (8)

[2020-09-14 00:05] #20 closed

[2020-09-14 00:05] #19 closed

[2020-09-14 00:05] #21 closed

[2020-10-14 21:29] Normega commented on #7
Would love to see this feature instead of having to re-estimate all models again with 'as.numeric' on the factors.

[2020-10-15 09:06] YouriLMora opened #22 "Error: all variables must be numeroc"
Hey,

Thanks a lot for this package !

I get the following error message though :
![image](https://user-images.githubusercontent.com/44175219/96101532-d936c400-0ed5-11eb-941d-82b51766ae3b.png)

All the independent variables in the model are factors, except for the participants (numeric)
![image](https://user-images.githubusercontent.com/44175219/96101964-49454a00-0ed6-11eb-96b9-8788daea1202.png)

[2020-10-15 12:05] YouriLMora commented on #22
A solution I found was to convert all variables (even IVs) as numeric. It appears that even the variable cluster cannot be factors ?

[2020-10-15 13:45] mkshaw commented on #22
Thanks for bringing this to my attention! I'll take a look and post updates here as I solve the issue.

[2020-10-15 14:01] mkshaw opened #23 "Handling missing data"
From an email:

"fortify.merMod does not address the missing data (see here a similar issue: https://github.com/lme4/lme4/issues/390). In that issue, an alternative approach to pull the data while addressing the missing data is proposed: data <-broom::augment(model)"

Try using broom::augment(model), see if results are as expected.

[2020-10-15 14:44] mkshaw commented on #23
broom::augment() is fine for r2mlm, but for r2mlm_comp it doesn't pull all variables like fortify.merMod() does, which creates the issue that models A and B *have* to be hierarchical.

[2020-10-15 16:02] lcampb23 opened #24 "issue loading the library via Rstudio"
I downloaded the package, but when I try to load the library I get this error message: "Error in library((r2mlm)) : 'package' must be of length 1". This could be a problem of my own making, but wanted to ask to see if this is an issue with the package. Thank you.

[2020-10-15 16:05] lcampb23 commented on #24
So sorry--was a user error (facepalm).

[2020-10-15 16:58] #24 closed

[2020-10-15 17:02] lcampb23 commented on #24
Thanks! First time trying to use it. two issues:
1) would not run with missing data. So, I used the mice package to fix that.
2) get error that only the grouping variable can be a factor (but it is the only factor variable). Simple model--1 numeric DV and 1 numeric IV (that's it), with the IV nested within "person". So, I changed "person" to a numeric variable, but I still get the same error (even

[2020-10-15 17:12] mkshaw commented on #24
Yes, I've added this missing data issue, too, here: https://github.com/mkshaw/r2mlm/issues/23. Can you elaborate on how you used mice to solve the problem?

[2020-10-15 18:11] lcampb23 commented on #24
I simply used mice to impute values when they were missing, so the data set no longer has any missing values. I hope that makes sense.

Professor, Department of Psychology
University of Western Ontario
London, ON, Canada, N6A 5C2
(519) 661-2111 x84904<tel:%28519%29%20661-2111%20x84904>

Web<http://publish.uwo.ca/~lcampb23> || CV<http://publish.uwo.ca/~lcampb23/CV.pdf> || Google Scholar<https://sch

[2020-10-15 18:50] mkshaw commented on #24
It does; thanks!

[2020-10-21 03:15] ypark-4 opened #25 "Error in if (variance_tracker == 0)"
Thanks for the great package!

I had an error with my syntax that looks something like

**model1<- lmer(satisfaction ~ (1|coupleid)+grat_c, data)****

and it seems to be because formula(model) doesn't order the variables the way you mentioned in the source code;

 (b) group dataset by clustering variable
  temp_data_grouped <- temp_data %>%
    dplyr::group_by_at(formula_length) #group by the clus

[2020-10-21 04:27] mkshaw commented on #25
Thank you for bringing that to my attention, and digging through the code to find the issue. I know someone else ran into this issue, too. I'll see if there's a way of standardizing figuring out the clustering variable. If not, then the options I see immediately are (1) have the user input what their clustering variable is, (2) specifying in the documentation that the clustering variable needs to

[2020-10-21 05:57] ypark-4 commented on #25
Can’t really think of anything else. Both sound like great solutions to me!
Thanks again for the package!

[2020-10-21 15:49] mkshaw opened #26 "Error in variance == 0 when a group only has n of 1."

[2020-10-21 16:19] mkshaw opened #27 "Add get_variance() helper function to utils (step 3.4.d)"
Lines 157-194, 378-415.

[2020-10-21 17:16] smasters11 opened #28 "Can't subset columns that don't exist."
Can't subset columns that don't exist.
x Column `na.exclude` doesn't exist.

[2020-10-21 19:13] mkshaw commented on #28
Hi @smasters11, can you provide me with some more information about your model and data? What's the structure of your dataset (run `str(data)`) and what model(s) you ran?

[2020-10-21 21:11] smasters11 commented on #28
I used hierarchical linear modeling (HLM) with the “nlme” package with maximum likelihood estimation. I do have some missing data points, so my code included “na.action=na.exclude” in my code. I don't know how to tell R that na.exlclude is not a column

[2020-10-21 21:28] mkshaw commented on #28
Can you post your model definition here? For example, this is the model from the r2mlm documentation:

`model_lme4 <- lmer(satisfaction ~ 1 + salary_c + control_c + salary_m + control_m + s_t_ratio + (1 + salary_c + control_c| schoolID), data = teachsat, REML = TRUE)`

[2020-10-21 21:35] smasters11 commented on #28
energy3 <- lme(fixed = ZQ4.3 ~ ZQ4.2*Gender + ZQ4.5*Gender+ ZEnergyAgentic*Gender + ZEnergyCom*Gender,
               data = data2,
               random = ~ 1 | School, na.action=na.exclude, method="ML")

[2020-10-21 21:46] mkshaw commented on #28
Great, thanks for bringing this to my attention! I'll look into it.

[2020-10-21 22:21] jweir48 opened #29 "Error in `$<-.data.frame`(`*tmp*`..."
I have run a random intercepts model successfully: m1 <- lmer(SBP~1+Segment+(1 |Subject),data=Mido_1, REML=FALSE), however when I try to run r2mlm I get this error

Error in `$<-.data.frame`(`*tmp*`, ".fitted", value = c(`1` = 92.7182482102599,  :
  replacement has 280 rows, data has 288

[2020-10-21 23:40] mkshaw commented on #28
@smasters11 I think I've fixed this particular issue. Can you try installing the development version of the package by running `devtools::install_github("mkshaw/r2mlm", ref = "refactoring")`, then `library(r2mlm)`, and then run your model again and see  what you get?

[2020-10-22 00:09] smasters11 commented on #28
I really appreciate how hard you have been working on this!
I got a different error this time.
Error in r2mlm_nlme(model) : Your data must be numeric. Only the cluster variable can be a factor

[2020-10-22 01:15] mkshaw commented on #28
Okay, cool, this error I'm more familiar with! See here: https://github.com/mkshaw/r2mlm/issues/22 Are your predictors (ZQ4.2Gender + ZQ4.5Gender+ ZEnergyAgenticGender + ZEnergyComGender) all numeric (not text-based)? And as you can see at the github issue linked above, it seems like some people are having issues where even their clustering variable (in your case, School) must be numeric. Let me k

[2020-10-22 02:06] smasters11 commented on #28
All of my data looks like this:

![image](https://user-images.githubusercontent.com/73248458/96810603-3e604d00-13e1-11eb-9a68-db8b4d9718c4.png)
![image](https://user-images.githubusercontent.com/73248458/96810756-49b37880-13e1-11eb-9fad-824338f7d05f.png)

<img width="651" alt="Capture" src="https://user-images.githubusercontent.com/73248458/96809586-cdb93080-13e0-11eb-845a-9072a7db0c5b.PNG">

[2020-10-28 19:05] miamclean90 commented on #25
I followed the above, and moved my clustervariable to the end of my model, but am still seeing the error. Any helpful thoughts?

Error in if (variance_tracker == 0) { :
  missing value where TRUE/FALSE needed

model3 <- lme (CBCL~ Childage + GESTAGE + ga.mri2 + Hipp + m.ea.stotal.sb.18 +
                           m.ea.stotal.sb.18:ResidHippV02all,
                         data = data1_18mtrim, me

[2020-10-28 19:27] mkshaw commented on #28
@smasters11 What's going on here with the variables `ZQ4.2_Gender` and `ZEnergyAgentic_Gender` -- are those interaction variables normally in your function as `ZQ4.2*Gender` that just dropped the asterisk when you copied them over to regular text?

[2020-10-28 19:29] mkshaw opened #30 "Note that lme4 must be formatted with random effects (1|cluster_variable) at the end of the formula."
Like this:
`model_lme4 <- lmer(satisfaction ~ 1 + salary_c + control_c + salary_m + control_m + s_t_ratio +
                                     (1 + salary_c + control_c| schoolID),
                                    data = teachsat, REML = TRUE,
                                    control = lmerControl(optimizer = "bobyqa"))`

You have to list the fixed and random effects first, in order for th

[2020-10-28 19:38] mkshaw commented on #25
@miamclean90 Do you know if any of your groups are only 1 row long, so for some ID number there is only one participant? That's another circumstance that causes that variance_tracker == 0 error, which I have fixed but haven't pushed that update to CRAN yet.

For posterity I'll note that the cluster variable only has to be at the end of the equation when using `lme4`. For `nlme`, the random effects

[2020-10-28 19:46] mkshaw commented on #29
I think missing data causes this -- are there 8 NA's somewhere in your data? If so, what happens if you run the following:

[code]
Here, I'm using `na.omit()` to listwise delete the missing values from your dataframe, storing that cleaned dataset in `Mido_1_na`, and then re-running your model using `Mido_1_na` as the data. Let me know how that goes, if it runs successfully or if another (or the sa

[2020-10-28 21:22] miamclean90 commented on #25
@mkshaw deleting groups of ID that are only 1 row long solved the problem. Thank you! I await the update to CRAN.

[2020-10-28 21:39] mkshaw commented on #23
For now, if a user pre-treats their data with `data <- na.omit(data)` and then runs their model in lme4 or nlme, that gets around the missing data issue.

[2020-10-28 21:45] jweir48 commented on #29
Aha, thanks. I’ll give that a try. Much appreciated.

From: Mairead <notifications@github.com>
Sent: Wednesday, October 28, 2020 2:47 PM
To: mkshaw/r2mlm <r2mlm@noreply.github.com>
Cc: Weir, Joseph <joseph.weir@ku.edu>; Author <author@noreply.github.com>
Subject: Re: [mkshaw/r2mlm] Error in `$<-.data.frame`(`*tmp*`... (#29)

I think missing data causes this -- are there 8 NA's somewhere in your da

[2020-10-28 22:21] mkshaw commented on #29
Let me know how it goes!

[2020-10-28 22:26] #27 closed

[2020-10-28 22:30] mkshaw opened #31 "Add citation inst."
https://r-pkgs.org/inst.html#inst-citation

Citation content: https://psyarxiv.com/xc4sv/

lavaan citation, for reference: https://github.com/yrosseel/lavaan/tree/master/inst

[2020-10-28 22:35] mkshaw opened #32 "augment doesn't seem to exist in Windows/Linux."
When running Travis or check_win_devel, `Error: No augment method for objects of class lmerMod`

[2020-10-29 14:05] Christy-Y-Wong commented on #29
I have similar issue as well and I am doing intention-to-treat analysis so I can't take the listwise deletion approach.
I hope to hear update from this thread soon. Thanks a lot!

[2020-10-29 14:09] mkshaw commented on #29
@Christy-Y-Wong How are you running your lme4 or nlme code? I believe they already do listwise deletion as a default.

[2020-10-29 14:20] Christy-Y-Wong commented on #29
I ran my model with lme4 and it included all the available observations in the model. All of my study participants took the measures at baseline but not all did so at follow-ups. I ran the lmer model directly but with REML set to be TRUE.
Could I not delete any of my observations and go ahead with the R-squared measures?

[2020-10-29 14:46] jweir48 commented on #29
Well, I seem to have a new error:

Error in r2mlm_lmer(model) :
  Your data must be numeric. Only the cluster variable can be a factor.

Here is the lme4 call:

m1_na <- lmer(SBP~1+Segment+(1 |Subject),data=Mido_1_na, REML=FALSE)

so it doesn’t seem to like that Segment is a categorical variable?

From: Mairead <notifications@github.com>
Sent: Wednesday, October 28, 2020 5:22 PM
To: mkshaw/r2mlm <

[2020-11-01 19:57] mkshaw commented on #29
@jweir48 That's correct; segment must be numeric.

[2020-11-01 20:00] mkshaw commented on #29
@Christy-Y-Wong `lme4` already does listwise deletion behind the scenes. See [this explanation on ResearchGate](https://www.researchgate.net/post/How_are_missing_data_handled_in_linear_mixed_effects_models) and [this one on StackExchange](https://stackoverflow.com/questions/39472068/force-inclusion-of-observations-with-missing-data-in-lmer).

[2020-11-03 11:58] vjilmari opened #33 "Typo in reference manual for r2mlm_manual function example"
Tau-matrix has -0.396 and -0.039 as entries for the covariation between Intercept and control_c. The correct value seems to be the first one (-0.396). This seemed not to influence the output in any way, however.

Now it is:

[code]

Corrected version:

[code]

[2020-11-03 15:48] mkshaw commented on #33
Thanks for pointing this out! I fixed it.

[2020-11-03 15:48] #33 closed

[2020-11-04 20:35] #32 closed

[2020-11-12 09:12] Bryant-Hui commented on #29
hi there, thanks for creating this package, I believe it will be very useful to researchers. but I also encountered the same problem.

Here are my codes:
m1<-lmer(pos~ beep+(beep|username),REML=F, data=dataset, na.action=na.omit)
summary(m1) ### I could have the results
r2mlm(m1) ###no luck, below is the error message

"Error in `$<-.data.frame`(`*tmp*`, ".fitted", value = c(`1` = 1.36402264157347

[2020-11-12 18:55] Michaeladebolt commented on #22
Hello! I'm getting the same error -- I have a mix of continuous (numeric) and factor-level variables as predictors in my model. The outcome (DV) is continuous. Curious if there are any updates on this!

[2020-11-12 19:26] mkshaw commented on #22
Hello! For now, you would need to manually change your factor-level predictors to numerical variables (except the clustering variable, which you can leave as a factor.)

I recognize the usefulness and interest in allowing the model to accept factors as predictors, and plan to incorporate it in future versions of the package. But for now, the package isn't build to deal with factor variables as pre

[2020-11-12 19:57] Michaeladebolt commented on #22
Thanks for the quickly reply! I wasn't able to make it work using all numeric predictors... but I may be misundertanding something. I pasted a made up reproducible example below. Hopefully this helps :) I appreciate your time!

-Michaela

`
library(lme4)
library(r2mlm)

# With a factor level predictor -- won't work
data(sleepstudy)
sleepstudy$mood <- as.factor(rbinom(n = nrow(sleepstudy), prob = .

[2020-11-16 20:36] mhimmelstein commented on #26
I had come here to raise having run into this issue. It looks like the solution has been found, but not pushed out yet, is that correct (I checked the development version too)?

I was able to tweak the function code for r2mlm_lmer() as a hack to get it to work, but I'm using this to teach an HLM class and don't know if I can have my students do that independently.

Thanks for the awesome package!

[2020-11-16 20:56] mkshaw commented on #26
Hello! That's correct: I think I've fixed it, but haven't uploaded the fixed version to CRAN (since I'm also trying to fix other bugs before I release a new version). I also haven't pushed to the main branch on github; it's on the refactoring branch. When you say you checked the development version, do you mean you tried with the `devtools::install_github("mkshaw/r2mlm", ref = "refactoring")` pack

[2020-11-16 21:04] mhimmelstein commented on #26
Ah, that makes sense. I just used the main development branch, not `ref = "refactoring"`. I can try that too. Thank you!

And we already did incorporate it! I'm the lab instructor/TA and the primary instructor wanted to teach the Rights and Sterba papers for how to think about HLM effect sizes. We actually started using it a bit right before you pushed it to CRAN :). It's been super helpful for pr

[2020-11-16 23:55] mkshaw commented on #26
Let me know how the `ref = "refactoring"` goes, and I'm really glad it's been helpful so far (bugs notwithstanding)!

[2020-11-20 16:45] benjaminwnelson opened #34 "error"
This package looks great, but I just ran into this error
`Error in `$<-.data.frame`(`*tmp*`, ".fitted", value = c(`7` = 1.16732165838092,  :
  replacement has 274 rows, data has 708`

[2020-11-20 17:11] mhimmelstein commented on #26
I checked the refactoring branch, and the base `r2mlm()` function does indeed work, but the bug is still present in `r2mlm_comp()`

[2020-11-20 21:01] mkshaw commented on #26
This is actually great news! I haven't fixed `r2mlm_comp()` yet, so I would expect it to not work.

[2020-11-21 00:04] mhimmelstein commented on #26
Great! I'll keep an eye out for when the next update pushes out. Thanks again for all the hard work!

[2020-11-30 16:54] mkshaw commented on #28
@smasters11 Can you also share what operating system and version of R you're using? I just tried to replicate this error and couldn't.

[2020-12-03 17:00] mkshaw opened #35 "Update r2mlm_comp documentation and examples with optional data argument."

[2020-12-03 21:05] mkshaw opened #36 "Different results when supplying data or not for r2mlm_comp"

[2020-12-04 22:09] mkshaw opened #37 "Organize test files."
Right now leo_test.R is just in the main folder, and then in the gitignore and Rbuildignore.

[2020-12-04 22:28] #36 closed

[2020-12-04 22:29] #23 closed

[2020-12-04 22:32] mkshaw commented on #34
Hi @benjaminwnelson, sorry you're running into that issue! Can you tell me more about your dataset and model?

Additionally, if you try running `devtools::install_github("mkshaw/r2mlm", ref = "refactoring")` then `library(r2mlm)`, and then using the package as you did before, do you still get that error? I've been making changes to the code, so perhaps I've fixed this issue in the process.

[2020-12-04 23:05] #30 closed

[2020-12-04 23:19] mkshaw opened #38 "Error in r2mlm_comp: unused argument (.data)"
[code]

If I just use `add_interaction_vars_to_data(interaction_vars, .)` it works, but R CMD check throws a warning/note. Judging by this error containing a dot already, maybe I could edit the add_interaction_vars_to_data function to accept arguments `(data, interaction_vars)` and the dot will automatically be passing the dot forward? If yes, then I'll need to change the code elsewhere in the fun

[2020-12-07 20:43] mkshaw commented on #38
Fixed in commit 340451a.

[2020-12-07 20:43] #38 closed

[2020-12-08 17:27] #35 closed

[2020-12-08 18:08] #31 closed

[2020-12-10 16:41] mkshaw opened #40 "Reduce example runtime to less than 10 seconds (for CRAN submission)"
Additional checks:
- Replace doi links with \doi tag

[2020-12-15 22:27] mkshaw commented on #26
Fixed in 2bb041a8fcfea37576620f3d3d1492031d2818f6.

[2020-12-15 22:27] #26 closed

[2020-12-15 22:28] mkshaw commented on #25
Noted in documentation, in 2bb041a8fcfea37576620f3d3d1492031d2818f6.

[2020-12-15 22:28] #25 closed

[2020-12-15 22:29] mkshaw commented on #29
@bhui I haven't seen that error before. Are you able to send me some reproducible data and code?

[2020-12-15 22:30] mkshaw opened #41 "Change CWC designation to use absolute mean values."
The code computes cluster means for all level-1 variables, sees if the means are roughly zero (< .0000001), and if yes then it assigns `clustermeancentered = TRUE`. This update changes the code to test whether the *absolute value* of the means are roughly zero, to address the case in which a cluster has a negative non-zero mean (that would otherwise mistakenly be assigned to `clustermeancentered =

[2020-12-15 22:32] mkshaw opened #42 "Interaction terms shouldn't return as centered-within-cluster = TRUE"
r2mlm and r2mlm_comp are both treating models with interaction terms as cluster-mean-centered, even though the interaction terms themselves are not cluster-mean-centered. r2mlm should provide non-cluster-mean-centered results, and r2mlm_comp ideally should break, as it is not currently able to accommodate non-cluster-mean-centered models

[2020-12-15 23:24] #41 closed

[2020-12-15 23:42] mkshaw commented on #42
Fixed the issue for `r2mlm` in ff411b2.

Next, throw an error if both models in `r2mlm_comp` not cwc (for reasons detailed in Rights & Sterba (2020), and the function documentation).

[2020-12-16 21:49] #42 closed

[2020-12-21 14:30] gwang921921 commented on #34
I am also interested in this package's functions. But it seems that the function "r2mlm" doesn't work for me. I loaded the "teachst" data and copied your code, but it takes R forever to run it...

[2020-12-21 14:49] gwang921921 opened #43 "Error in UseMethod("group_by_") : no applicable method for 'group_by_' applied to an object of class "NULL""
Hi! Thank you so much for building this package! It looks awesome! But when I copied the example you provided (based on the "teachsat" dataset), I never got the results. Actually, it took R forever to run the code and when I clicked on "stop", I got the following error: Error in UseMethod("group_by_") :
  no applicable method for 'group_by_' applied to an object of class "NULL".

I got the same is

[2020-12-21 17:08] mkshaw commented on #43
Hello! 👋 Three follow-up questions:

1. What code did you run?
2. How long, specifically, did you leave it running?
3. What operating system are you working on?

[2020-12-21 20:49] gwang921921 commented on #43
Thank you so much for your reply:)

I ran the following code:

data(teachsat)

model_lme4 <- lmer(satisfaction ~ 1 + salary_c + control_c + salary_m + control_m +
s_t_ratio + (1 + salary_c + control_c| schoolID), data = teachsat, REML =
TRUE, control = lmerControl(optimizer = "bobyqa"))

r2mlm(model_lme4)

I left it running for a few minutes, and my OS is Windows 10.

[2020-12-21 21:57] mkshaw commented on #43
No problem! 🙂

Got it. I'm not really sure what the problem is, so my current guess is that it's something related to your computer's processing power or memory. It happens to me from time to time: code that otherwise runs properly in RStudio just runs forever. My advice is to try restarting your computer, or if possible try the code on another machine.

[2020-12-22 19:04] gwang921921 commented on #43
Thank you so much! I ran it on another computer and the problem is solved. Thanks again!!

[2020-12-22 21:25] mkshaw commented on #43
Fantastic; glad to hear it!

[2020-12-22 21:25] #43 closed

[2021-01-12 15:11] gwang921921 opened #44 "Error in if (variance_tracker == 0) { : missing value where TRUE/FALSE needed"
Hi Mairead! Thank you for keep updating this package.  I got this error message when running a multilevel model: Error in if (variance_tracker == 0) { :
  missing value where TRUE/FALSE needed

I think someone has mentioned this problem before. It is because there is only one unit for some groups. Would you mind saying one more time how you helped them fix the problem? Many thanks!!

[2021-01-12 16:25] mkshaw commented on #44
@gwang921921 Hi! Do you have the latest version of `r2mlm` downloaded (v 0.2.0)? You can check with `packageVersion("r2mlm")`. If not, can you try installing that new version and re-running your code, then tell me if the problem persists?

[2021-01-12 16:36] gwang921921 commented on #44
Thanks for your quick response! Unfortunately, it still exists.

[2021-01-12 17:59] mkshaw commented on #44
Hmm, so I believe the last person who had that problem deleted their group with only one unit, but I thought I fixed this bug so that groups could have only one unit. Are you able to provide a reproducible example or email me your data and code?

[2021-01-12 19:25] gwang921921 commented on #44
Thank you so much for offering help. Would you mind letting me know your email address?

[2021-01-12 19:49] mkshaw commented on #44
Thank you for helping me improve the package! My email is mairead.shaw@mail.mcgill.ca.

[2021-01-12 22:02] #44 closed

[2021-01-15 16:37] mkshaw opened #45 "Replace data with new simulation, and add that change to NEWS.md"
New dataset should have more intuitive variable ranges.

[2021-01-24 02:13] #45 closed

[2021-01-24 02:13] #40 closed

[2021-02-10 17:33] xliu0806 opened #46 "Is it possible to suppress the bar plots? and is it possible to get negative delta R^2 for the total?"
Thanks for the package!

Is it possible to suppress the bar plots in the output of the function r2mlm (or r2mlm_comp)? (I try to incorporate the results into a report automatically but don't want to include the bar plots).

Another question may not be related to the function here, but any advice?

I have two nested models: Model A with one level-2 predictor, Model B = Model A + two more level 2-pr

[2021-02-10 17:34] xliu0806 commented on #46
I don't have level-1 predictor in the model.

[2021-02-11 18:54] bbachilles opened #47 "Error in t(v) %*% psi : non-conformable arguments"
Hello,

Thank you for your work on this package. I am trying to run the r2mlm function after a 3-level model. Doing so gives me the error in the subject. Code is below:

[code]
[code]

Thanks!

[2021-02-11 20:22] mkshaw commented on #47
Hello! The package currently only works for two-level models; a three-level option, at least for manual entry, is on the way soon!

[2021-02-11 20:22] #47 closed

[2021-02-21 21:34] mkshaw commented on #46
There's no current way to suppress the bar plots, but I'll incorporate that into the next version of the package. Thank you for the suggestion!

re: the negative delta for fvm, I asked my collaborator Jason Rights, and he said the following:

For an illustration of this exact thing, see Figure 4 in Rights & Sterba (2020): [Rights, J. D., & Sterba, S. K. (2020). New recommendations on the use of R-

[2021-02-24 00:05] xliu0806 commented on #46
Excellent! thanks!
and thanks for the Rights & Sterba (2020) reference!

[2021-02-24 00:05] #46 closed

[2021-03-01 19:56] mkshaw commented on #46
@xliu0806 Just a heads up that I've integrated optional bar graph output into the development version of the package (which you can install with `devtools::install_github("mkshaw/r2mlm")`. It'll eventually be in the CRAN version when I submit the next version. The argument to `r2mlm` is called bargraph, it defaults to true (i.e., yes a bar graph will output), set it to false for no graphical outpu

[2021-03-05 23:28] nathgeig opened #49 "r2mlm doesn't work with tibbles"
Spent a couple hours troubleshooting and realized that my dataframe was actually a tibble, which was leading r2mlm to give an error when I tried to put my model into it. Different errors with lme vs. lmer, but didn't seem to work with either.  I wonder if r2mlm could be set up to recognize tibbles?

[2021-03-08 16:03] mkshaw commented on #49
Hi @nathgeig, can you tell me what you tried/what error you got? `r2mlm` works with tibbles for me; it converts tibbles to dataframes automatically using `as.data.frame()`.

[2021-03-08 18:52] nathgeig commented on #49
You're right - this fixed the error on one (simple) model but for my
more complex model it just ran for 24 hours and then gave the same error
message.  With lmer, it is:

Error: Must group by variables found in `.data`. * Column `cntry` is not
found. Backtrace: 1. r2mlm::r2mlm(model.main) 7.
dplyr:::group_by.data.frame(., .data[[cluster_variable]]) 8.
dplyr::group_by_prepare(.data, ..., .add = .ad

[2021-03-08 19:04] mkshaw commented on #49
Hmm, odd. Can I see what model you ran? Or, if possible, data & code for a reproducible example.

[2021-03-09 01:35] nathgeig commented on #49
The model is as follows:

model.int <- lmer(cc_sal ~ age_gmc*(lto_std + lr_cnmean) +
                     (1 + age_gmc|cntry),
                   data = data,
                   control = lmerControl(optimizer ='bobyqa',
optCtrl=list(maxfun=2e5)))

Where all variables besides "cntry" are numeric, and I reformatted in
various ways to make sure that they were.  I was having issues with
other models

[2021-03-12 22:14] mkshaw commented on #49
Got it. Let me know when you have the dataset and code, and I'll dig in to see where the error is coming from.

[2021-03-17 20:17] mkshaw opened #50 "Does the package work with interactions specified as level1:level2?"
As opposed to `level1*level2`, which unpacks to `1 + level1 + level2 + level1:level2`.

[2021-03-26 19:02] nathgeig commented on #49
Sorry for the delay – the data files and code are available under https://osf.io/srgpy/ .  Let me know if there’s anything I can clean up to make it easier on your end.

From: Mairead Shaw ***@***.***>
Sent: Friday, March 12, 2021 5:14 PM
To: mkshaw/r2mlm ***@***.***>
Cc: nathgeig ***@***.***>
Subject: Re: [mkshaw/r2mlm] r2mlm doesn't work with tibbles (#49)

Got it. Let me know when you have the

[2021-03-27 22:03] mkshaw commented on #49
@nathgeig Thanks for sending that along! I'm in crunch time on some other projects, but I'll take a look in a month or so.

[2021-03-28 17:27] nathgeig commented on #49
Sounds good – good luck with your projects!

From: Mairead Shaw ***@***.***>
Sent: Saturday, March 27, 2021 6:03 PM
To: mkshaw/r2mlm ***@***.***>
Cc: nathgeig ***@***.***>; Mention ***@***.***>
Subject: Re: [mkshaw/r2mlm] r2mlm doesn't work with tibbles (#49)

@nathgeig <https://github.com/nathgeig>  Thanks for sending that along! I'm in crunch time on some other projects, but I'll take a look in

[2021-04-04 13:25] mkshaw opened #51 "Potentially useful functions"
- `model@cnms` for column names
- `ngrps(model)` for number of groups

[2021-04-21 20:17] mkshaw commented on #49
@nathgeig I'm back working on this issue! I think I've solved it -- can you download the development version using `devtools::install_github("mkshaw/r2mlm")` and let me know if it works for you, too?

I'll note that I think your variables are not centered-within-country, so only one bar graph will show up. That's a function of the R-squared framework itself: in order to decompose variance complete

[2021-06-17 11:47] IndrajeetPatil opened #52 "use `parameters` instead of `broomExtra`?"
Is there any downside to making this switch?
None, the outputs are pretty much identical because `broomExtra` defaults to `parameters` anyway. So you will get the same behavior you do now.

[code]

Benefit: It reduces the dependency load significantly!

[code]

<sup>Created on 2021-06-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-06-19 15:56] mkshaw commented on #52
@IndrajeetPatil It didn't work with the more complicated model from the `r2mlm` documentation; perhaps the optimizer is throwing `parameters()` off?

[code]

[2021-06-19 15:58] IndrajeetPatil commented on #52
Ah, yeah, it's this issue: https://github.com/easystats/parameters/issues/523

cc @strengejacke

Let's wait until that issue is resolved and then revisit this.

[2021-06-20 09:58] strengejacke commented on #52
Yeah, I think with two random slopes, the random effects summary currently doesn't work. Will look into it.

[2021-07-27 13:27] IndrajeetPatil commented on #52
@mkshaw This should be fixed now!

Can you please try the development version of `parameters` and see if it works for you?

We are planning to release the next version on CRAN soon, in case you also wanted to update.

[2021-07-27 13:47] strengejacke commented on #52
Seems to work, but probably also needs the latest development version of _insight_...

[code]

<sup>Created on 2021-07-27 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-03 14:05] samanthajoel opened #53 "clarify source of Tau values in documentation for r2mlm_manual"
The [r2mlm_manual function](https://www.rdocumentation.org/packages/r2mlm/versions/0.2.0/topics/r2mlm_manual) requires Tau, defined as:

_Random effect covariance matrix; note that the first row/column denotes the intercept variance and covariances (if intercept is fixed, set all to 0) and each subsequent row/column denotes a given random slope<U+2019>s variance and covariances (to be entered in t

[2021-08-07 14:49] mkshaw commented on #53
Hi @samanthajoel! The way I've found to generate the Tau matrix is: `as.matrix(Matrix::bdiag(VarCorr(model)))`. I find it the easiest to read, and found it through trial and error. Let me know if that works for you, too!

[2021-08-08 17:59] samanthajoel commented on #53
Thank you for your reply @mkshaw!

When I run that code on your example model, I get this matrix:

             (Intercept)      salary_c     control_c
(Intercept) 3.867185e-01  6.461844e-05  0.0062518363
salary_c    6.461844e-05  2.766688e-03 -0.0003328784
control_c   6.251836e-03 -3.328784e-04  0.0284902495

But the code in the vignette, which lists the values manually, produces this matrix:

[2021-08-11 16:30] mkshaw commented on #53
@samanthajoel Great catch! I changed the underlying dataset, `teachsat`, in the version 0.3.0 release of the package so the numbers made more sense for example purposes (no negative values of salary, for example), but I forgot to change the `r2mlm_manual` example accordingly and didn't realize until right now. So the matrix you got is correct!

[2021-09-18 09:13] IndrajeetPatil commented on #52
*bump*

[2021-11-05 09:39] IndrajeetPatil commented on #52
*bump*

[2021-11-05 14:29] IndrajeetPatil commented on #52
@mkshaw Please note that I am going to archive `{broomExtra}` soon, which would mean your package on CRAN will get archived with it too.

This is why I have been pinging you to make this change asap. Please consider this as the final reminder.

[2021-11-07 06:21] mkshaw commented on #52
@IndrajeetPatil thank you for the notice; I'll integrate the change on Monday.

[2021-11-09 19:55] mkshaw commented on #52
@IndrajeetPatil reverse dependency removed!

[2021-11-09 19:55] #52 closed

[2021-11-09 19:56] IndrajeetPatil commented on #52
Thanks! :)

[2022-03-10 09:34] jpsnijder opened #54 "Bargraph from "r2mlm" function doesn't fully fit, and legend overlaps with x-axis titles"
Hi Mairead,

first of course thank you for your work on this. It is very helpful :)

I have an issue with getting the plot to play nice. see images below.
No matter how I drag/size the plot I can't get it to come out nice. My screen resolution is 2560 * 1440.
Maintain aspect ration on/off doesn't matter. R/Rstudio are updated.
Saving as image, copy to clipboard, none of it gives me a nice plot..

[2022-03-10 09:52] jpsnijder commented on #54
Sorry I didn't do better research! I found the code right in the example right here!
For others:
# Adjust plot margins
par(mar = c(6.75, 10.5, 2.625, 10.5))

[2022-03-10 09:52] #54 closed

[2022-03-10 17:25] mkshaw commented on #54
Hi @jpsnijder thank you for your kind words about the package and that's it exactly: the plot margins just have to be changed around until the graph fits decently. Glad you resolved the problem! :)

[2022-05-30 10:03] nicebread opened #55 "Return numeric values in $Decomposition"
Could you return numeric values (in a data frame) for $Decomposition and $R2s?
I wanted to round the values before printing (for teaching), but with the hard-coded characters this is difficult. Furthermore, numeric values allow downstream computations.

Thanks!

[2022-06-18 16:57] jyl6557 opened #56 "Error in `$<-.data.frame`"
So I am working on the Lahman baseball database in R. I am trying to create a function that will count the all star appearances within the dataset.  I get an error where I am calling the function that I created but I have no idea why I am getting an error for the temporary dataframe that I have listed in the function. Any ideas on how to fix it?

library(Lahman)

all_star_df<-AllstarFull
batting_d

[2022-06-20 23:33] mkshaw commented on #56
I can still help you, but just to confirm, this isn't related to the R package `r2mlm`, right?

The issue you're having is related to NAs in your data. If you clear all the files in your environment by running the code `rm(list = ls()` and run your code again, does that fix the error?

I didn't get your error the first time, but if I run your code twice then there are multiple `rookie_all_star_app

[2022-06-21 01:05] jyl6557 commented on #56
Hi, thank you for the reply:
This does not involved the r2mlm package at all. I have no idea what that does.
I did ran the code rm(list=ls()) and yet it doesn't work still. What's weird is that when I ran the batting_df <- count_all_star_appearances(all_star_df, batting_df) the first time in markdown, it successfulyl runs. But when I ran it again and again, it gives me that error message.

[2022-06-21 03:18] mkshaw commented on #56
Right, so you're having a general R issue but you filed that as an issue on the GitHub for `r2mlm`, the R package that I wrote (note the URL we're on: github.com/mkshaw/r2mlm/issues). Your question is better suited to something like Stack Overflow, so I'm going to close this. The root of the issue is the NAs in your data. I'd suggest closing/clearing your R session and environment and running your

[2022-06-21 03:18] #56 closed

[2022-06-21 03:52] jyl6557 commented on #56
Ok will do. How do I create a new issue on my own right here on Github?

[2022-06-21 18:11] mkshaw commented on #56
GitHub issues are often for help with a specific package. For example, this is the GitHub for my R package `r2mlm`, so if people are using it and have problems or suggestions for improvement, they can make an issue here and I can try to help them with it. In your case, you're trying to write your own function using data from `Lahman`, but your issue isn't really about the `Lahman` package, it's ab

[2022-06-23 02:23] jyl6557 commented on #56
Ok thanks. I did google it and I tried those methods that I have seen on
stack overflow and yet it still doesn't help still. I Looked in the dataset
and there are no NA's for sure, even when I did na.omit. I was wondering if
you could still help me. My email is ***@***.*** I have already
posted on my own github repository page if you can see it.
https://github.com/jyl6557/lin3653/issues/1
 Thanks

[2022-06-28 05:03] IndrajeetPatil commented on #52
@mkshaw Any plans to update the package on CRAN soon?
I can't archive _broomExtra_ on CRAN until the dependency has been updated to not rely on it.

[2022-06-28 21:29] IndrajeetPatil opened #57 "CRAN update"
Follow up on https://github.com/mkshaw/r2mlm/issues/52

@mkshaw Any plans to update the package on CRAN soon?

I can't archive my _broomExtra_ package on CRAN until _r2mlm_ has been updated on CRAN to not rely on it.

[2022-06-30 14:35] mkshaw commented on #57
@IndrajeetPatil Sorry about that! I'll update today or tomorrow.

[2022-06-30 17:04] mkshaw commented on #55
Thanks for the suggestion!

[2022-07-06 14:47] #55 closed

[2022-07-06 14:47] #57 closed

[2022-07-06 15:14] mkshaw commented on #57
@IndrajeetPatil submitted the package to CRAN, hopefully it will be accepted soon and the dependency on *broomExtra* removed.

[2022-07-06 15:19] mkshaw commented on #55
@nicebread I'm in the process of releasing 0.3.2, which will feature numeric output. Should be out in the next few days!

[2022-07-06 15:27] IndrajeetPatil commented on #57
Cool, thanks!

[2022-08-30 18:38] serpentislord commented on #22
Hi, all of my predictors are numeric and I am encountering this issue. My syntax is posted below. For what it's worth, the interaction terms are computed in the model but they are not separate variables in the dataset (i.e., there is no column for stigma_wp*CORE_c).

total <- lmerTest::lmer(WAI_Total ~ 1 + Session_c + stigma_c*CORE_c + stigma_c*CORE_wp + stigma_wp*CORE_c + stigma_wp*CORE_wp + (1|U

[2022-09-23 16:26] jgguerriero opened #58 ""r2mlm" function not printing full variance decomposition even when L1 predictors are cluster-mean centered"
I'm having an issue which I will describe below.

Setup
[code]

Running models (Model 1)
[code]

(Model 2)
[code]

I'm not sure why the Model 2 isn't producing a print result that shows the variance explained at each level as it does in Model 1. It is only showing the "total" variance explained. The `X` variable is cluster-mean centered, and the only thing that changes across the two models is the

[2022-11-28 20:19] jason-struck opened #59 "Error when using random_covs23"
The `r2mlm3_manual()` function has a typo when calculating the variance of `random_covs23`.

Instead of

`var_randomcovs23 <- var(cbind(data[, c(random_covs23)]), na.rm = T)`

it should read (note the addition of the `1,`)

`var_randomcovs23 <- var(cbind(1, data[, c(random_covs23)]), na.rm = T)`

to match the line calculating the variance of `random_covs13`

`var_randomcovs13 <- var(cbind(1, data[

[2022-11-30 15:33] jason-struck opened #60 "Specifying random effects in non-cluster-mean-centered models"
In the documentation for `r2mlm3_manual()`, both `Tau2_noncmc` and `Tau3_noncmc` say, `to be entered in the order listed by randomcovsl2_noncmc`.

However, `randomcovsl2_noncmc` is not an argument in this function, though I see it in the source.

Furthermore, shouldn't they pull from different sets of random effects? `Tau2_noncmc` from `randomcovsl2_noncmc`, and `Tau3_noncmc` from `randomcovsl3_no